{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Log in</h1>
    <form action="." method="post" id="formLogin">
        {% csrf_token %}
        {{ form.as_p }}
         <input type="hidden" name="next" value="{{ next }}">

        <button type="submit" value="Login">Log in</button>

    </form>
</body>
</html>